Piris/Connected Services/ServiceReference1/CentralBankService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49995/Impl/CentralBankService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DomainService.Objects" />
  <xs:element name="ConvertValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:double" />
        <xs:element minOccurs="0" name="currencyValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DomainService.Objects" minOccurs="0" name="ConvertValueResult" nillable="true" type="q1:ConverterObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>