Piris/Connected Services/ServiceReference1/CentralBankService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DomainService.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DomainService.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConverterObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="currencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currencyValue" type="xs:double" />
      <xs:element minOccurs="0" name="requestRes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConverterObject" nillable="true" type="tns:ConverterObject" />
</xs:schema>