ServerHost/Connected Services/ServiceReference1/AuthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49995/Impl/AuthService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49995/Impl/AuthService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49995/Impl/AuthService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DomainService.DbContext" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthService_UserRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:UserRegistration" />
  </wsdl:message>
  <wsdl:message name="IAuthService_UserRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_UserAuth_InputMessage">
    <wsdl:part name="parameters" element="tns:UserAuth" />
  </wsdl:message>
  <wsdl:message name="IAuthService_UserAuth_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserAuthResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthService">
    <wsdl:operation name="UserRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/UserRegistration" message="tns:IAuthService_UserRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/UserRegistrationResponse" message="tns:IAuthService_UserRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserAuth">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/UserAuth" message="tns:IAuthService_UserAuth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/UserAuthResponse" message="tns:IAuthService_UserAuth_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthService" type="tns:IAuthService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserRegistration">
      <soap:operation soapAction="http://tempuri.org/IAuthService/UserRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAuth">
      <soap:operation soapAction="http://tempuri.org/IAuthService/UserAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthService">
    <wsdl:port name="BasicHttpBinding_IAuthService" binding="tns:BasicHttpBinding_IAuthService">
      <soap:address location="http://localhost:49995/Impl/AuthService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>