ServerHost/Connected Services/ServiceReference1/AuthService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49995/Impl/AuthService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DomainService.DbContext" />
  <xs:element name="UserRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DomainService.DbContext" minOccurs="0" name="userObj" nillable="true" type="q1:store_users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserRegistrationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DomainService.DbContext" minOccurs="0" name="userObj" nillable="true" type="q2:store_users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserAuthResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>