ServerHost/Connected Services/ServiceReference4/PositionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DomainService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DomainService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PositionObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PositionCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PositionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PositionPrice" type="xs:float" />
      <xs:element minOccurs="0" name="PositionType" type="tns:PositionType" />
      <xs:element minOccurs="0" name="PositionValue" type="xs:float" />
      <xs:element minOccurs="0" name="PriceCurrency" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PositionObject" nillable="true" type="tns:PositionObject" />
  <xs:simpleType name="PositionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Production" />
      <xs:enumeration value="Service" />
      <xs:enumeration value="Bonus" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PositionType" nillable="true" type="tns:PositionType" />
  <xs:complexType name="ArrayOfPositionObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PositionObject" nillable="true" type="tns:PositionObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPositionObject" nillable="true" type="tns:ArrayOfPositionObject" />
</xs:schema>